.advice {
    background: $page-bg-color;
}
.advice__heading {
    margin-bottom: 45px;
}
.advice__content {
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
        flex-direction: column;
    }
    
}
.advice__card {
    max-width: 232px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    flex-grow: 1;
    flex-basis: 0;
    
    .advice__card-info {
        padding: 30px 30px 0 30px;
    }
    h3{
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 15px;
    }
    p{
        letter-spacing: 0.2px;
        margin-bottom: 30px;
    }
    img{
        width: 100%;
        object-fit: cover;
    }

    @include mediaTablet {
        margin: 0 0 30px 0;
        max-width: 100%;
        text-align: center;
        -webkit-box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);
        box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);

        &:last-child {
            margin: 0;
        }
    }
}
