.consulting {
}
.consulting__list {
    display: flex;
    justify-content: space-between;
    margin-top: -111px;

    @include media4x3 {
        flex-direction: column;
    }
}
.consulting__item {
    padding: 30px 40px;
    margin-right: 30px;
    transition: all .3s;
    background: #fff;
    min-width: 328px;
    
    
    svg {
        margin-bottom: 14px;
        transition: all .3s;
    }
    
    h3 {
        color: $title-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.1px;
        transition: all .3s;
    }
    
    p {
        margin-top: 10px;
        transition: all .3s;
    }
    &:hover {
        background: $accent-color;
        svg path {
            fill: #fff;
        }
        h3 {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    &:last-child {
        margin: 0;
    }

    @include media4x3 {
        margin: 0 0 15px 0;
        text-align: center;
        -webkit-box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);
        box-shadow: 11px 10px 11px 6px rgba(34, 60, 80, 0.2);
    }
}