.subscribe {
    background: $title-color;
    min-height: 77px;
}
.subscribe__inner {
    position: relative;
    width: 100%;
}
.subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $accent-color-2;
    padding: 30px 50px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include mediaTablet {
        flex-direction: column;
    }
}
.subscribe__form-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px; 
    max-width: 266px;
    margin-right: 180px;
    
    @include mediaTablet {
        text-align: center;
        margin: 0 0 30px 0;
    }
}
.subscribe__form-label {
    display: flex;
    justify-content: space-between;
    background: $form-bg;
    border: 1px solid $form-bord;
    border-radius: 5px;
    padding-left: 20px;
    width: 100%; 
}
.subscribe__form-input {
    background: $form-bg;
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
}
.subscribe__form-btn {
    @include button (#fff, $btn-color, 0 5px 5px 0, 15px 22px);
    font-weight: 400;
    
}