// Colors
$text-color: #737373;
$title-color: #252B42;
$btn-color: #FF7B47;
$btn-text-color: #fff;
$accent-color: #0D5C63;
$accent-color-2: #17213C;
$page-bg-color: #FAFAFA;
$page-bg-color-2: #F3F3F3;
$form-bg: #F9F9F9;
$form-bord: #E6E6E6;

// Media
$tablet: 999px;